@font-face {
  font-family: "Cerebri Sans";
  src: url('./fonts/CerebriSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url('./fonts/CerebriSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: #f9f7fe;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}
